networks:
  web:
    external: true

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
    - web
    volumes:
    - "./serve:/var/www/html:ro"
    - "./data:/data:ro"
    expose:
    - "80"
    labels:
    - "traefik.enable=true"
    - "traefik.docker.network=web"

    - "traefik.http.routers.menugaita-secure.rule=Host(`menu.gaitasangiorgio.com`)"
    - "traefik.http.routers.menugaita-secure.entrypoints=websecure"

    - "traefik.http.routers.menugaita-insecure.rule=Host(`menu.gaitasangiorgio.com`)"
    - "traefik.http.routers.menugaita-insecure.entrypoints=web"
    - "traefik.http.routers.menugaita-insecure.middlewares=menugaita-redirecthttps"

    - "traefik.http.middlewares.menugaita-redirecthttps.redirectscheme.scheme=https"
    - "traefik.http.middlewares.menugaita-redirecthttps.redirectscheme.permanent=true"
    restart: unless-stopped
    logging:
      driver: "local"
      options:
        max-size: "30m"
        max-file: "2"
